/* phone stylng  start*/
@media screen and (max-width:576px){
    .container{
        max-width: 100%;
        padding: 0px 1.1rem;

    }
    .mbot{
        margin-bottom: 60px;
    }
    
}
/* phone end  */
/* tabstyling start  */
@media screen and (max-width:770px){
    .right .fa-bars{
        display: block;
        font-size: 2.5rem;
    }
    nav a{
        display: none;
    }
}

/* tab end  */